/Super-Translator/target/classes
/Super-Translator/target/com
/Super-Translator/target/surefire
/Super-Translator/target/maven-archiver
/Super-Translator/img
/Super-Translator/lib
/Super-Translator/.settings
/Super-Translator/.classpath
/Super-Translator/.gitignore
/Super-Translator/.project
